
html, body {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0; /* 배경색은 style.css와 동일하게 유지 */
    font-family: sans-serif;
}

.phone-view {
    width: 375px; /* 스마트폰 화면 너비 */
    height: 667px; /* 스마트폰 화면 높이 */
    border: 1px solid #ccc;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center; /* 수직 중앙 정렬 */
    align-items: center; /* 수평 중앙 정렬 */
}

#login-container {
    width: 80%; /* 내부 컨텐츠 너비 */
    text-align: center;
}

h1 {
    margin-bottom: 24px;
}

#login-form input {
    width: calc(100% - 20px); /* 패딩 고려 */
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#login-form button {
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #007bff;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

#login-form button:hover {
    background-color: #0056b3;
}

.signup-link {
    margin-top: 20px;
}

.signup-link a {
    color: #007bff;
    text-decoration: none;
}

.signup-link a:hover {
    text-decoration: underline;
}
